@model AdminYonetimliCV.Models.Siniflar.Anasayfa
@{
    ViewData["Title"] = "AnasayfaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="mt-4">Anasayfa Güncelle</h2>
<hr />
@using (Html.BeginForm("AnasayfaGuncelle", "Admin", FormMethod.Post))//index,controlller ismi
{
    @Html.LabelFor(x=>x.id)
    @Html.TextBoxFor(x=>x.id,new {@class="form-control",@readonly="readonly"})
    <br />
     @Html.LabelFor(x=>x.isim)
    @Html.TextBoxFor(x=>x.isim,new {@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.acıklama)
    @Html.TextBoxFor(x=>x.acıklama,new {@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.unvan)
    @Html.TextBoxFor(x=>x.unvan,new {@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.iletisim)
    @Html.TextBoxFor(x=>x.iletisim,new {@class="form-control"})
    <br />
    <button class="btn btn-success">AnaSayfa Güncelle</button>

}
